# Asciinema recordings
*.cast

*.pyc
__pycache__/
.pytest_cache/
.vscode/

venv/
.venv/
.idea/

# Python cache
__pycache__/
*.pyc

# Pytest / coverage
.pytest_cache/
.coverage
coverage.xml

# Игнорирование логов
*.log

# Игнорирование egg-info
python_project_50.egg-info/

# Игнорирование служебных файлов
.python-version
run_diff.py

.codegpt