*.pyc
__pycache__/
.pytest_cache/
.vscode/
venv/
.idea/

# Игнорирование логов
*.log

# Игнорирование egg-info
python_project_50.egg-info/

# Игнорирование служебных файлов
.python-version
run_diff.py

.codegpt